.ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 2.5vh;
  margin-top: 2.5vh;
  max-height: 50vh;
  overflow-y: scroll;
  padding: 2.5vh 0;
  width: 100%;
}
