.slide {
  width: 90%;
  position: absolute;
  top: 50%;
  z-index: 9999;
}
.swipe {
  font-size: 12em;
  color: var(--bg_btn);
}

@media (min-width: 640px) {
  .swipe {
    font-size: 10em;
  }
}

@media (min-width: 768px) {
  .swipe {
    font-size: 8em;
  }
}
@media (min-width: 1024px) {
  .swipe {
    font-size: 6em;
  }
}
