.del,
.del2 {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
  color: tomato;
  cursor: pointer;
  padding: 0.7em 0.25em;
}

.del2 {
  color: transparent;
  cursor: unset;
}
