.li {
  background-color: rgba(5, 47, 33, 0.024);
  min-width: 95%;
  min-height: 95%;
  /* MOBILE TEST */
  min-height: 80%;
  /* MOBILE TEST END */
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5em 0;
  gap: 1em;
  border-radius: 10px;
  margin-left: 2.5%;
  position: relative;
}

.img {
  width: 100%;
  object-fit: cover;
  height: 25em;
  cursor: pointer;
}
.title {
  font-size: 2.2em;
  text-align: center;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  color: rgb(43, 55, 51);
  color: var(--color_h_dark);
  max-width: 70%;
  cursor: pointer;
  margin: 1vh 0;
}

.p {
  max-width: 80%;
  text-align: center;
  color: rgba(43, 55, 51, 0.915);
  color: var(--color_p_dark);
  font-size: 1.7em;
  letter-spacing: 0.7px;
  line-height: 1.2;
}

.pOptions {
  height: 5vh;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.span {
  color: var(--color_link);
  font-size: 1.3em;
  cursor: pointer;
}

@media (min-width: 640px) {
  .li {
    min-width: 45%;
    min-height: 80%;
  }
  .img {
    height: 15em;
  }
}

@media (min-width: 768px) {
  .li {
    min-width: 45%;
    min-height: 80%;
  }
  .img {
    height: 17.5em;
    width: 90%;
    border-radius: 5px;
  }
  .li:hover {
    transform: scale(1.05);
    transition: 0.25s;
  }
}
@media (min-width: 1024px) {
  .li {
    min-width: 30%;
    min-height: 82.5%;
    margin: 0;
    max-width: 30%;
  }
  .img {
    width: 90%;
    max-width: 90%;
  }
}
