.h2 {
  font-size: 4.5em;
  letter-spacing: 2px;
  color: var(--color_h_light);
  text-align: center;
}
.p {
  font-size: 2.5em;
  max-width: 80%;
  margin-top: 2.5vh;
  color: var(--color_p_dark);
  line-height: 1.5;
  letter-spacing: 1.5px;
  text-align: center;
}
.slide {
  width: 100%;
}
