.parallax {
  height: 85vh;
  width: 100%;
  background-image: url("../../../assets/hero.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
